/* @font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_LT_Regular.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_LT_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_Std_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_Std_Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/ITC_Korinna_Std_Kursiv.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
} 


@font-face {
  font-family: "Korinna";
  src: url("../src/assets/font/Korinna_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
  */

@font-face {
  font-family: "Body Grotesque Fit Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Body Grotesque Fit Bold Italic"),
    url("Zetafonts - Body Grotesque Fit Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Body Grotesque Large Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Body Grotesque Large Italic"),
    url("Zetafonts - Body Grotesque Large Italic.woff") format("woff");
}

@font-face {
  font-family: "Body Text Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Body Text Italic"),
    url("Zetafonts - Body Text Italic.woff") format("woff");
}

@font-face {
  font-family: "Body Text Slim Light";
  font-style: normal;
  font-weight: normal;
  src: local("Body Text Slim Light"),
    url("Zetafonts - Body Text Slim Light.woff") format("woff");
}

@font-face {
  font-family: "Body Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Body-Grotesque-Bold-trial"),
    url("Body-Grotesque-Bold-trial.ttf") format("ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
